@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  height: 100%;
  width: 100%;
}


.rdt_Table, 
.rdt_TableRow,
.rdt_TableCol,
.rdt_TableCol_Sortable,
.rdt_TableCell,
.rdt_TableHeader,
.rdt_TableFooter,
.rdt_TableHead,
.rdt_TableHeadRow,
.rdt_TableBody,
.rdt_Pagination,
.rdt_ExpanderRow {
  @apply border-none outline-none ring-0 !important
}

.rdt_Table{
  @apply table bg-base-100
}

.rdt_Table .sc-iwaiBT.laPPHD,
.sc-kfYpNk.lisNoh{
  @apply bg-base-100 text-gray-500 font-bold
}


.rdt_TableCol{
  @apply bg-base-100 font-bold text-gray-500
}

.rdt_TableCell{
  @apply bg-base-100 font-bold text-gray-400 
}

.rdt_TableCell{
  @apply bg-base-100 font-bold text-gray-400 transition-all duration-200
}

.rdt_TableRow:hover .rdt_TableCell{
  @apply bg-base-200 font-bold text-gray-200 cursor-pointer 
}

.rdt_Pagination{
  display: flex !important;
  justify-content: flex-start !important;
  @apply bg-base-100 font-bold text-gray-500 !important
}

.rdt_Pagination .sc-ezyZrH.oPTqr{
  margin-left: auto;
}

.rdt_Pagination svg,
.rdt_TableCol_Sortable span{
  filter: invert(42%) sepia(93%) saturate(0%) hue-rotate(87deg) brightness(200%) contrast(200%);
  @apply text-gray-500;
}

.rdt_Pagination select{
  @apply outline-none border-none ring-0
}

.rdt_Pagination option{
  color: black !important;
}